/**
 * Toolkit variable settings
 */
$foundation-palette: (
  primary: #5c2d91,
  secondary: #00bcee,
  tertiary:#de1471,
  success: #3adb76,
  warning: #ffae00,
  alert: #cc4b37,
);
$light-bg:#ebe5f2;
$header-color: map-get($foundation-palette, primary);
$button-background-hover:#00bcee;
$background-hover:#00bcee;
$background-hover-lightness:#00bcee;
$button-color-alt: white;
$body-font-family: 'Proximus-Regular', Verdana, Arial, sans-serif;
$button-radius:  0 0 1.25em 0;
$global-width: 100%;
$flex: true;