/**
 * jive styles general overwrites . Limit this to the minimum possible
 */

@import '../../site-foundation/scss/util/unit';
@import '../../site-foundation/scss/util/breakpoint';



body,
p {
    font-family: 'Proximus-Regular', Verdana, sans-serif;
    color: #283451;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Proximus-Regular', Verdana, sans-serif;
    color: #5c2d91;
}

h1 {
    font-family: 'proximuslight', Verdana, sans-serif;
    color: #5c2d91;
}

.scroll-to-fixed-fixed .prx-toc-title-repeat {
    display: block;
    padding: 1em 0;
}

//tutorial start abd stop indicator, only visible in RT editor in jive
.tut-limit {
    display: none;
}

//jive top navigation links julio
.j-globalNavLink {
    @include breakpoint( medium) {
        font-size: 22px;
    }
}

button,
.button {
    border-radius: 0 0 15px;
    font-size: 1.25em;
    -webkit-transition: background-color 300ms ease-out;
    transition: background-color 300ms ease-out;
}

button:hover,
.button:hover {
    /*background-color: #00bcee !important;
	color: white;*/
    -webkit-transition: background-color 300ms ease-out;
    transition: background-color 300ms ease-out;
}

.j-template-chooser-body button {
    background: none;
}

a.j-news-stream-name.font-color-meta-light {
    @include breakpoint( medium) {
        padding: 10px 10px 10px 0;
        color: #5c2d91;
        text-transform: none;
    }
}

/* remove gray overlay on blogpost image*/
.j-banner-module-header::after,
.jive-body-formpage .j-banner-module-header.j-banner-uploaded::after {
  display: none; }