/**
 * Toolkit styles
 */

@import 'settings';
@import '../../site-foundation/scss/foundation';
@include foundation-everything( $flex: true);
@import 'fonts';
@import 'partials/info-block';
@import 'partials/learning-block';
@import 'partials/toc';

code{
    display: block;
}

.button {
    &:hover,
    &:focus {
        background-color: $background-hover !important;
    }
}

* {
    box-sizing: border-box;
}