<div data-f-toggle="notes">This is some note for users</div>
<button class="prx-button">prx-button</button>
<button class="prx-button prx-secondary">prx-button prx-secondary</button>
<button class="prx-button prx-tertiary">prx-button prx-tertiary</button>
<button class="prx-button prx-success">prx-button prx-success</button>
<button class="prx-button prx-warning">prx-button prx-warning</button>