<div class="prx-wrapper">
    <div class="prx-row prx-small-collapse prx-medium-uncollapse">
        <div class="prx-columns prx-medium-3 prx-small-12">
            <a href="#" class="prx-info-block--centered prx-info-block">
                <div class="prx-info-block__col">
                    <div class="proxicon-Stayinformed prx-xxl"></div>
                    <strong>Information</strong>
                </div>

            </a>
        </div>
        <div class="prx-columns prx-medium-3 prx-small-12">
            <a href="#" class="prx-info-block--centered prx-info-block">
                <div class="prx-info-block__col">
                    <div class="proxicon-Search prx-xxl"></div>
                    <strong>Search</strong>
                </div>

            </a>
        </div>
        <div class="prx-medium-3 prx-columns prx-small-12">
            <a href="#" class="prx-info-block--centered prx-info-block">
                <div class="prx-info-block__col">
                    <div class="proxicon-Collaboration prx-xxl"></div>
                    <strong>Collaborate</strong>
                </div>

            </a>
        </div>
        <div class="prx-medium-3 prx-columns prx-small-12">

            <a href="#" class="prx-info-block--centered prx-info-block">
                <div class="prx-info-block__col">
                    <div class="proxicon-Innovation prx-xxl"></div>
                    <strong>Support</strong>
                </div>

            </a>
        </div>
    </div>
</div>