<ul id="j-globalNav" role="menubar" class="j-globalNav">
                <li id="mobile-menu" class="mobile-tool"><a class="" href="#"><span><i></i><i></i><i></i></span></a></li>
                <li class="j-simple-nav-logo j-globalNav-li">
                    <a class="j-simple-logo js-logo j-globalNavLink" href="/"><img src="https://proximus-preview.jiveon.com/2016.3.6.c6d8942/resources/images/palette-1007/customNavLogoImage-1488538699865-simpleNavLogo_logo.png" alt="#WeAreProximus"></a>
                </li>
                <li id="jive-nav-link-home" class=" j-globalNav-li j-ui-elem"><a href="/welcome" class="j-globalNavLink j-ui-elem " role="menuitem"><span class="nav-link  ">Home</span></a></li>
                <li id="jive-navbar-link-news" class=" j-globalNav-li j-ui-elem"><a href="/news" class="j-globalNavLink j-ui-elem " role="menuitem"><span class="nav-link  ">News</span></a></li>
                <li id="jive-navbar-link-support" class=" j-globalNav-li j-ui-elem"><a href="/support" class="j-globalNavLink j-ui-elem " role="menuitem"><span class="nav-link  ">Support</span></a></li>
                <li id="jive-nav-link-places" class=" j-globalNav-li j-ui-elem"><a href="/places" class="j-globalNavLink j-ui-elem " role="menuitem"><span class="nav-link  ">Places</span></a></li>
                <li id="customLink0" aria-haspopup="true" class=" j-globalNav-li j-ui-elem"><a href="/people" class="j-globalNavLink j-ui-elem " role="menuitem"><span class="nav-link   j-ui-elem">Browse<span class="j-nav-more jive-icon-glyph icon-arrow-down2"></span></span></a>
                    <div id="customLink0-menu" class="j-pop-main j-menu j-quick-menu j-nav-menu-link-list" style="display: none;">
                        <ul>
                            <li><a id="customLink0-0" href="/content" class="j-ui-elem"><span class="lnk">Content</span></a></li>
                            <li><a id="customLink0-1" href="/people" class="j-ui-elem"><span class="lnk">People</span></a></li>
                            <li><a id="customLink0-2" href="/places" class="j-ui-elem"><span class="lnk">Places</span></a></li>
                        </ul>
                    </div>
                </li>
                <li id="jive-nav-link-apps" aria-haspopup="true" class=" j-globalNav-li j-ui-elem"><a id="appsQuickLaunchLink" href="#" class="j-globalNavLink j-ui-elem " role="menuitem"><span class="nav-link   j-ui-elem">Apps<span class="j-nav-more jive-icon-glyph icon-arrow-down2"></span></span></a></li>
                <div id="appQuickLaunchMenu" class="j-menu j-quick-menu" style="display: none;"></div>
</ul>