@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300");
.pictawall-socialhub-progress {
  position: fixed;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  margin: 0;
  z-index: 20;
  height: 4px;
  display: block;
  width: 100%;
  background-color: #f3a7b2;
  overflow: hidden;
  transition: opacity 0.6s; }
  .pictawall-socialhub-progress.pictawall-socialhub-hidden {
    display: block;
    opacity: 0; }
  .pictawall-socialhub-progress .pictawall-socialhub-indeterminate {
    background-color: #e43750; }
    .pictawall-socialhub-progress .pictawall-socialhub-indeterminate:before {
      content: '';
      position: absolute;
      background-color: inherit;
      top: 0;
      left: 0;
      bottom: 0;
      will-change: left, right;
      animation: pictawall-socialhub-indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite; }
    .pictawall-socialhub-progress .pictawall-socialhub-indeterminate:after {
      content: '';
      position: absolute;
      background-color: inherit;
      top: 0;
      left: 0;
      bottom: 0;
      will-change: left, right;
      animation: pictawall-socialhub-indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
      animation-delay: 1.15s; }

@keyframes pictawall-socialhub-indeterminate {
  0% {
    left: -35%;
    right: 100%; }
  60% {
    left: 100%;
    right: -90%; }
  100% {
    left: 100%;
    right: -90%; } }

@keyframes pictawall-socialhub-indeterminate-short {
  0% {
    left: -200%;
    right: 100%; }
  60% {
    left: 107%;
    right: -8%; }
  100% {
    left: 107%;
    right: -8%; } }

.pictawall-socialhub-error {
  width: 100%;
  text-align: center; }

.pictawall-socialhub-hidden,
.pictawall-socialhub-card_container-wrapper-wrapper,
.pictawall-socialhub-header {
  display: none; }

.pictawall-socialhub {
  width: 100%; }
  .pictawall-socialhub a {
    color: #607d8b;
    text-decoration: none; }
  .pictawall-socialhub .pictawall-socialhub-infinitescroll-end, .pictawall-socialhub .pictawall-socialhub-no_media {
    text-align: center; }

.pictawall-socialhub {
  font-family: "Open Sans", sans-serif; }

.pictawall-socialhub-card {
  box-sizing: border-box;
  word-wrap: break-word;
  background-color: #ffffff;
  position: relative; }
  .pictawall-socialhub-card p {
    color: #000000; }

.pictawall-socialhub-card-text {
  box-sizing: border-box;
  padding: 15px; }

.pictawall-socialhub-card-media {
  font-size: 0;
  text-align: center;
  background-color: #101010;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center; }

.pictawall-socialhub-card-ctas {
  box-sizing: border-box; }

.pictawall-socialhub-card-author {
  display: -ms-inline-flexbox;
  display: inline-flex; }

.pictawall-socialhub-avatar {
  font-size: 0; }

.pictawall-socialhub-avatar-img {
  width: 50px;
  height: 50px;
  border-radius: 50%; }

.pictawall-socialhub-author-name {
  padding-left: 10px; }

.pictawall-socialhub-author-username {
  display: block; }

.pictawall-socialhub-card-footer {
  font-size: 0.8em;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between; }
  .pictawall-socialhub-card-footer p {
    margin-top: 0;
    margin-bottom: 0; }

.pictawall-socialhub-card-stats, .pictawall-socialhub-card-stats > * {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: baseline;
      align-items: baseline; }

.pictawall-socialhub-card-stats-likes, .pictawall-socialhub-card-stats-comments {
  margin-right: 5px; }
  .pictawall-socialhub-card-stats-likes::before, .pictawall-socialhub-card-stats-comments::before {
    margin-right: 5px; }

.pictawall-socialhub-card-stats-likes::before {
  content: '❤ '; }

.pictawall-socialhub-card-stats-comments::before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: black;
  -webkit-mask: url("../../assets/vendor/pictawall-socialhub/src/resources/img/comment.svg");
          mask: url("../../assets/vendor/pictawall-socialhub/src/resources/img/comment.svg");
  -webkit-mask-size: cover;
          mask-size: cover; }
  @supports not (((-webkit-mask: url("../../assets/vendor/pictawall-socialhub/src/resources/img/comment.svg")) or (mask: url("../../assets/vendor/pictawall-socialhub/src/resources/img/comment.svg"))) and ((-webkit-mask-size: cover) or (mask-size: cover))) {
    .pictawall-socialhub-card-stats-comments::before {
      background: url("../../assets/vendor/pictawall-socialhub/src/resources/img/comment.svg");
      background-size: cover; } }

.pictawall-socialhub-card:not(.pictawall-socialhub-card-source-ad)::after {
  content: '';
  display: block;
  position: absolute;
  top: 5px;
  right: 5px;
  width: 20px;
  height: 20px;
  z-index: 5;
  background-size: cover;
  border-radius: 4px; }

.pictawall-socialhub-card:not(.pictawall-socialhub-card-source-ad).pictawall-socialhub-card-source-twitter::after {
  background-image: url("../../assets/vendor/pictawall-socialhub/src/resources/img/white/twitter-square.svg"), radial-gradient(ellipse at center, black 0%, rgba(0, 0, 0, 0.69) 60%, transparent 100%); }

.pictawall-socialhub-card:not(.pictawall-socialhub-card-source-ad).pictawall-socialhub-card-source-instagram::after {
  background-image: url("../../assets/vendor/pictawall-socialhub/src/resources/img/white/instagram.svg"); }

.pictawall-socialhub-card:not(.pictawall-socialhub-card-source-ad).pictawall-socialhub-card-source-facebook::after {
  background-image: url("../../assets/vendor/pictawall-socialhub/src/resources/img/white/facebook-square.svg"), radial-gradient(ellipse at center, black 0%, rgba(0, 0, 0, 0.69) 60%, transparent 100%); }

.pictawall-socialhub-card:not(.pictawall-socialhub-card-source-ad).pictawall-socialhub-card-source-flickr::after {
  background-image: url("../../assets/vendor/pictawall-socialhub/src/resources/img/white/flickr.svg"), radial-gradient(ellipse at center, black 0%, rgba(0, 0, 0, 0.69) 60%, transparent 100%); }

.pictawall-socialhub-card:not(.pictawall-socialhub-card-source-ad).pictawall-socialhub-card-source-vine::after {
  background-image: url("../../assets/vendor/pictawall-socialhub/src/resources/img/white/vine.svg"); }

.pictawall-socialhub-card_container-wrapper-wrapper {
  display: block;
  padding-top: 5px; }

.pictawall-socialhub-card_container {
  box-sizing: border-box; }
  .pictawall-socialhub-card_container .pictawall-socialhub-card {
    animation: fadeIn 1s;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
  .pictawall-socialhub-card_container .pictawall-socialhub-card-text {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    min-height: 100%; }
  .pictawall-socialhub-card_container .pictawall-socialhub-card-share-twitter {
    display: none; }
  .pictawall-socialhub-card_container .pictawall-socialhub-card-type-text .pictawall-socialhub-card-text-contents {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column; }
  .pictawall-socialhub-card_container .pictawall-socialhub-card-type-picture,
  .pictawall-socialhub-card_container .pictawall-socialhub-card-type-video {
    overflow: hidden; }
    .pictawall-socialhub-card_container .pictawall-socialhub-card-type-picture .pictawall-socialhub-card-media,
    .pictawall-socialhub-card_container .pictawall-socialhub-card-type-video .pictawall-socialhub-card-media {
      height: 100%; }
    .pictawall-socialhub-card_container .pictawall-socialhub-card-type-picture .pictawall-socialhub-card-text,
    .pictawall-socialhub-card_container .pictawall-socialhub-card-type-video .pictawall-socialhub-card-text {
      opacity: 0;
      transition: opacity 0.3s;
      background: rgba(0, 0, 0, 0.6);
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
      color: white; }
      .pictawall-socialhub-card_container .pictawall-socialhub-card-type-picture .pictawall-socialhub-card-text a,
      .pictawall-socialhub-card_container .pictawall-socialhub-card-type-video .pictawall-socialhub-card-text a {
        color: #c6c6c6; }
        .pictawall-socialhub-card_container .pictawall-socialhub-card-type-picture .pictawall-socialhub-card-text a:hover,
        .pictawall-socialhub-card_container .pictawall-socialhub-card-type-video .pictawall-socialhub-card-text a:hover {
          color: white; }
      .pictawall-socialhub-card_container .pictawall-socialhub-card-type-picture .pictawall-socialhub-card-text::after,
      .pictawall-socialhub-card_container .pictawall-socialhub-card-type-video .pictawall-socialhub-card-text::after {
        content: '';
        -ms-flex-order: 2;
            order: 2;
        -ms-flex: 1;
            flex: 1; }
    .pictawall-socialhub-card_container .pictawall-socialhub-card-type-picture .pictawall-socialhub-card-ctas,
    .pictawall-socialhub-card_container .pictawall-socialhub-card-type-video .pictawall-socialhub-card-ctas {
      -ms-flex-order: 1;
          order: 1; }
    .pictawall-socialhub-card_container .pictawall-socialhub-card-type-picture:hover .pictawall-socialhub-card-text,
    .pictawall-socialhub-card_container .pictawall-socialhub-card-type-video:hover .pictawall-socialhub-card-text {
      opacity: 1; }
    .pictawall-socialhub-card_container .pictawall-socialhub-card-type-picture .pictawall-socialhub-card-text-contents,
    .pictawall-socialhub-card_container .pictawall-socialhub-card-type-video .pictawall-socialhub-card-text-contents {
      -ms-flex-order: 3;
          order: 3;
      width: 100%;
      bottom: 0;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
      font-size: 16px; }
      .pictawall-socialhub-card_container .pictawall-socialhub-card-type-picture .pictawall-socialhub-card-text-contents p,
      .pictawall-socialhub-card_container .pictawall-socialhub-card-type-video .pictawall-socialhub-card-text-contents p {
        color: white; }
    .pictawall-socialhub-card_container .pictawall-socialhub-card-type-picture .pictawall-socialhub-card-author,
    .pictawall-socialhub-card_container .pictawall-socialhub-card-type-video .pictawall-socialhub-card-author {
      border-top: 1px white solid;
      padding: 10px 5px 0 5px; }
    .pictawall-socialhub-card_container .pictawall-socialhub-card-type-picture .pictawall-socialhub-card-body,
    .pictawall-socialhub-card_container .pictawall-socialhub-card-type-video .pictawall-socialhub-card-body {
      -ms-flex-order: 2;
          order: 2;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
    .pictawall-socialhub-card_container .pictawall-socialhub-card-type-picture .pictawall-socialhub-card-footer,
    .pictawall-socialhub-card_container .pictawall-socialhub-card-type-video .pictawall-socialhub-card-footer {
      -ms-flex-order: 1;
          order: 1;
      margin-bottom: 5px; }
    .pictawall-socialhub-card_container .pictawall-socialhub-card-type-picture .pictawall-socialhub-card-stats-comments::before,
    .pictawall-socialhub-card_container .pictawall-socialhub-card-type-video .pictawall-socialhub-card-stats-comments::before {
      background-color: white; }
  .pictawall-socialhub-card_container .pictawall-socialhub-truncated::after {
    content: '…'; }
  .pictawall-socialhub-card_container .pictawall-socialhub-truncated-overflow {
    display: none; }

.pictawall-socialhub-card-ctas {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%; }

.pictawall-socialhub-card-cta {
  display: -ms-flexbox;
  display: flex; }

.pictawall-socialhub-card-cta a {
  padding: 5px 10px; }
  .pictawall-socialhub-card-cta a img {
    max-height: 20px;
    width: auto !important;
    margin: 0 5px; }

.pictawall-socialhub-card_container .pictawall-socialhub-card-ctas {
  position: absolute;
  left: 0;
  top: 15px;
  opacity: 0;
  transition: opacity 0.3s;
  z-index: 6; }

.pictawall-socialhub-card_container .pictawall-socialhub-card:hover .pictawall-socialhub-card-ctas {
  opacity: 0.8; }

.pictawall-socialhub-header {
  margin-bottom: 5px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between; }

.pictawall-socialhub-powered {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center; }
  .pictawall-socialhub-powered a {
    color: #0F1C28; }

.pictawall-socialhub-card_container::after {
  content: '';
  clear: both; }

.pictawall-socialhub-card_container .pictawall-socialhub-masonry-gutter {
  width: 10px; }

.pictawall-socialhub-card_container .pictawall-socialhub-masonry-column, .pictawall-socialhub-card_container .pictawall-socialhub-card {
  width: calc((100% - 30px) / 4); }

.pictawall-socialhub-card_container[max-width~="649px"] .pictawall-socialhub-masonry-column, .pictawall-socialhub-card_container[max-width~="649px"] .pictawall-socialhub-card {
  width: calc((100% - 0px) / 1); }

.pictawall-socialhub-card_container[min-width~="650px"][max-width~="929px"] .pictawall-socialhub-masonry-column, .pictawall-socialhub-card_container[min-width~="650px"][max-width~="929px"] .pictawall-socialhub-card {
  width: calc((100% - 20px) / 3); }

.pictawall-socialhub-card_container[min-width~="1200px"][max-width~="1656px"] .pictawall-socialhub-masonry-column, .pictawall-socialhub-card_container[min-width~="1200px"][max-width~="1656px"] .pictawall-socialhub-card {
  width: calc((100% - 40px) / 5); }

.pictawall-socialhub-card_container[min-width~="1660px"] .pictawall-socialhub-masonry-column, .pictawall-socialhub-card_container[min-width~="1660px"] .pictawall-socialhub-card {
  width: calc((100% - 60px) / 7); }

.pictawall-socialhub-card_container .pictawall-socialhub-card {
  margin: 5px 0; }

.pictawall-socialhub-card_container .pictawall-socialhub-card-type-picture:not(.pictawall-socialhub-card-source-ad) .pictawall-socialhub-card-media, .pictawall-socialhub-card_container .pictawall-socialhub-card-type-video:not(.pictawall-socialhub-card-source-ad) .pictawall-socialhub-card-media {
  min-height: 200px; }

.pictawall-socialhub-card_container .pictawall-socialhub-card-type-picture .pictawall-socialhub-card-media img, .pictawall-socialhub-card_container .pictawall-socialhub-card-type-picture .pictawall-socialhub-card-media video, .pictawall-socialhub-card_container .pictawall-socialhub-card-type-video .pictawall-socialhub-card-media img, .pictawall-socialhub-card_container .pictawall-socialhub-card-type-video .pictawall-socialhub-card-media video {
  width: 100%;
  object-fit: contain; }

@font-face {
  font-family: 'Proximus';
  src: url("../fonts/Proximus-Regular.ttf") format("truetype");
  /* Safari, Android, iOS */ }

.pictawall-socialhub {
  font-family: 'Proximus', sans-serif; }
  .pictawall-socialhub a {
    color: #00BCEE; }

.pictawall-socialhub-card_container .pictawall-socialhub-card-type-picture .pictawall-socialhub-card-text a, .pictawall-socialhub-card_container .pictawall-socialhub-card-type-video .pictawall-socialhub-card-text a {
  color: #00BCEE; }

.pictawall-socialhub-powered a {
  color: black; }

.pictawall-socialhub-card_container {
  box-shadow: none; }

.pictawall-socialhub-card_container .pictawall-socialhub-card {
  box-shadow: none; }

.pictawall-socialhub-card {
  border-bottom-right-radius: 25px; }

.pictawall-socialhub-card-text {
  background-color: #EEEAF4;
  border-bottom-right-radius: 25px; }

.pictawall-socialhub-card-posted {
  display: none; }

.pictawall-socialhub-card-stats-comments {
  display: none; }

.pictawall-socialhub-card:hover.pictawall-socialhub-card-type-picture .pictawall-socialhub-card-posted {
  display: inline; }

.pictawall-socialhub-card-stats-likes::before {
  content: ''; }

.pictawall-socialhub-card-stats-likes::before {
  margin-right: 0; }

.pictawall-socialhub-card-stats-likes::after {
  content: ' ❤';
  font-size: 1.4em;
  color: #C14406; }

.pictawall-socialhub-card-stats-likes::after {
  margin-left: 5px; }

.pictawall-socialhub-card_container .pictawall-socialhub-card-type-picture .pictawall-socialhub-card-body, .pictawall-socialhub-card_container .pictawall-socialhub-card-type-video .pictawall-socialhub-card-body {
  white-space: inherit; }

.pictawall-socialhub-author-username {
  display: none; }

.pictawall-socialhub-card-author {
  -ms-flex-align: center;
      -ms-grid-row-align: center;
      align-items: center; }

.pictawall-socialhub-card-share-twitter, .pictawall-socialhub-card-share-instagram {
  display: none !important; }

.pictawall-socialhub-modal-menu {
  height: 0 !important;
  padding: 0 !important;
  margin: 0 !important; }

.pictawall-socialhub-modal-menu-share-container {
  display: none !important; }

.pictawall-socialhub-filters > span {
  background: linear-gradient(to right, #5C2D91, #00BCEE); }

.pictawall-socialhub-filters > span:after {
  content: '' !important;
  display: none !important; }

.pictawall-socialhub-filters ul li:not(.pictawall-socialhub-sublist).pictawall-socialhub-active {
  background: linear-gradient(to right, #5C2D91, #00BCEE); }

.pictawall-socialhub-filters ul li:not(.pictawall-socialhub-sublist):hover {
  background: linear-gradient(to right, #5C2D91, #00BCEE); }

.pictawall-socialhub-filters > span:hover + ul, .pictawall-socialhub-filters ul:hover {
  border-bottom-right-radius: 25px;
  z-index: 1200; }

/*# sourceMappingURL=main.css.map */
