$info-block-bg:$light-bg !default;
.info-block {
    background: $info-block-bg;
    padding: 1em;
    color: #5c2d91;
    width: 100%;
    display: table;
     transition: background-color .8s, color .8s;
    @include breakpoint(medium down) {
        margin-bottom: 1em;
    }
    p {
        word-break: break-word;
    }

}
a.prx-info-block{
    text-decoration: none;
        &:hover{
            background-color: $background-hover ;
            color:white;
            transition: background-color .8s , color .8s;
        }
    
}
.info-block--icon-right {
    @include breakpoint (medium) {
        height: 100%;
    }
}

.info-block__col {
    box-sizing: border-box;
    display: table-cell;
    .info-block--centered & {
        vertical-align: middle;
        text-align: center;
    }
}

.info-block__col {
    &.icon {
        box-sizing: border-box;
        padding: 5px;
        width: 60px;
        vertical-align: middle;
        text-align: center;
        font-size: 3.2vw;
        line-height: 0;
        @include breakpoint(medium down) {
            font-size: 2em;
        }
    }
}

.info-block strong {
    font-size: calc(.5vw + 12px)
}