.learning-block section {
    border-bottom: 1px solid #dadada;
    margin-bottom: 2em;
    padding-bottom: 1em;
}
.learning-block__section {
    margin-bottom: 2em;
    @include breakpoint(medium) {
        min-height: 50vh;
        background: #fdfdfd;
        padding: 4rem;
        margin-bottom: 4REM;
        border:none;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.12);  
        
    }
   
}