.toc {
    background: white;
}

.toc li {
    list-style-type: none;
}

.toc a {
    border-bottom: 1px solid #ccc;
    padding: 10px;
    display: block;
    text-decoration: none;
    &:hover{
        color:$background-hover;
    }
}

.toc a.active {
    background: #5c2d91;
    color: white;
}

.toc.toc ul,
.toc.toc ul ul {
    padding-left: 0 !important;
}

.toc.toc ul li {
    margin: 0;
}

.toc.toc {
    border: none;
    padding: 0;
    max-height: 90vh;
    overflow-y: auto;
}
.toc-title-repeat{
  color:#5c2d91;
 border-bottom:2px solid #5c2d91;
 font-size:16px;
 font-weight: bold;
 margin-bottom:5px;
  display:none;
}

