<!doctype html>
<html lang="">
<head>

	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{{title}}</title>

	{{#if fabricator}}<link rel="stylesheet" href="{{baseurl}}/assets/fabricator/styles/f.css">{{/if}}

	<!-- toolkit styles -->
	<link rel="stylesheet" href="{{baseurl}}/assets/toolkit/styles/prx-toolkit.css">
	<link rel="stylesheet" href="{{baseurl}}/assets/toolkit/styles/jive-overwrites.css">
	<!-- /toolkit styles -->

</head>
<body>

	{{#if fabricator}}
		{{> f-icons}}
		{{> f-menu}}
		<div class="f-container">
			{{> f-control-bar}}
	{{/if}}

   <div style="max-width:1300px;margin:auto;">
	{% body %}
    </div>
 
	{{#if fabricator}}
		</div>
	<script src="{{baseurl}}/assets/fabricator/scripts/f.js"></script>
	{{/if}}

	<!-- toolkit scripts -->
	<script src="{{baseurl}}/assets/toolkit/scripts/vendor/jquery.min.js"></script>
	<script src="{{baseurl}}/assets/toolkit/scripts/vendor/foundation.js"></script>
	<script src="{{baseurl}}/assets/toolkit/scripts/vendor/what-input.js"></script>
	<script src="{{baseurl}}/assets/toolkit/scripts/vendor/jquery-scrolltofixed-static.js"></script>
	<script src="{{baseurl}}/assets/toolkit/scripts/toolkit.js"></script>
	<!-- /toolkit scripts -->

</body>
</html>
