@font-face {
  font-family: 'Proximus Regular';
  src: url("../assets/fonts/Proximus-Regular.ttf") format("truetype");
  /* Safari, Android, iOS */ }

@font-face {
  font-family: 'Proximus Bold';
  src: url("../assets/fonts/Proximus-Bold.ttf") format("truetype");
  /* Safari, Android, iOS */
  font-weight: bold; }
