.pictawall-slider {
  font-family: 'Proximus Regular', sans-serif;
  position: relative; }
  @media (min-device-width: 700px) {
    .pictawall-slider {
      max-width: 309px; } }
  .pictawall-slider .loader {
    position: absolute;
    color: #ffffff;
    height: 100%;
    width: 100%;
    font-size: 2em;
    text-align: center;
    padding-top: 200px;
    background-image: url("../assets/powered_pictawall_100.png");
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: 10px;
    background-color: rgba(0, 0, 0, 0.6); }
    .pictawall-slider .loader .powered {
      font-size: 0.7em; }
  .pictawall-slider .row {
    min-height: 185px; }
    @media (max-device-width: 559px) {
      .pictawall-slider .row {
        margin-bottom: 0; } }
    @media (min-device-width: 560px) and (max-device-width: 699px) {
      .pictawall-slider .row {
        margin-bottom: 1px; } }
    @media (min-device-width: 700px) {
      .pictawall-slider .row {
        margin-bottom: 2px; } }
  .pictawall-slider .col {
    float: left;
    width: 309px;
    height: 185px;
    overflow: hidden; }
    @media (max-device-width: 559px) {
      .pictawall-slider .col {
        width: 98%;
        float: none; }
        .pictawall-slider .col .box {
          margin-right: 0; } }
    @media (min-device-width: 560px) and (max-device-width: 699px) {
      .pictawall-slider .col .box {
        margin-right: 1px; }
      .pictawall-slider .col.right .box {
        margin-right: 0; } }
    @media (min-device-width: 700px) {
      .pictawall-slider .col .box {
        margin-right: 2px; }
      .pictawall-slider .col.right .box {
        margin-right: 0; } }
  .pictawall-slider .box {
    height: 100%; }
  .pictawall-slider .box1 .picture .image {
    left: auto;
    right: 25px;
    text-align: right; }
  .pictawall-slider .box1 .picture .owner {
    left: 25px;
    right: auto; }
  .pictawall-slider .box2 .picture .image {
    right: auto;
    left: 21px;
    text-align: left; }
  .pictawall-slider .box2 .picture .owner {
    right: 19px;
    left: auto; }
  .pictawall-slider .picture {
    width: 100%;
    height: 185px;
    position: relative; }
    .pictawall-slider .picture .image {
      position: absolute;
      top: 19px;
      width: 147px;
      height: 146px;
      background-repeat: no-repeat;
      background-size: cover; }
      .pictawall-slider .picture .image .network {
        height: 24px;
        width: 24px;
        padding: 5px; }
    .pictawall-slider .picture .owner {
      position: absolute;
      background-color: #eeeaf4;
      top: 29px;
      width: 136px;
      height: 126px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      overflow: hidden; }
      .pictawall-slider .picture .owner .avatar {
        height: 22px;
        width: 22px;
        border-radius: 50%; }
      .pictawall-slider .picture .owner .author {
        text-align: center; }
      .pictawall-slider .picture .owner .since {
        color: #636363; }
      .pictawall-slider .picture .owner .message {
        text-align: center;
        width: 136px; }
    .pictawall-slider .picture .overlay {
      position: relative;
      background-color: rgba(0, 0, 0, 0.5);
      width: 100%;
      height: 100%; }
      @media (max-device-width: 559px) {
        .pictawall-slider .picture .overlay {
          padding: 5px; } }
      @media (min-device-width: 560px) and (max-device-width: 699px) {
        .pictawall-slider .picture .overlay {
          padding: 7px; } }
      @media (min-device-width: 700px) {
        .pictawall-slider .picture .overlay {
          padding: 10px; } }
      .pictawall-slider .picture .overlay .pw-content {
        position: absolute;
        bottom: 25px; }
      .pictawall-slider .picture .overlay .text {
        font-weight: 600; }
        @media (max-device-width: 559px) {
          .pictawall-slider .picture .overlay .text {
            padding: 40px 5px 5px; } }
      .pictawall-slider .picture .overlay .author {
        height: 30px;
        margin-top: 10px;
        padding-top: 5px;
        padding-left: 35px; }
        .pictawall-slider .picture .overlay .author.twitter {
          background-image: url("../assets/twitter.png");
          background-position: left;
          background-repeat: no-repeat;
          background-size: 26px; }
        .pictawall-slider .picture .overlay .author.facebook {
          background-image: url("../assets/facebook.png");
          background-position: left;
          background-repeat: no-repeat;
          background-size: 26px; }
        .pictawall-slider .picture .overlay .author.instagram {
          background-image: url("../assets/instagram.png");
          background-position: left;
          background-repeat: no-repeat;
          background-size: 26px; }
  .pictawall-slider .info {
    width: 100%;
    height: 92.5px;
    padding: 5px;
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 100px;
    color: #ffffff;
    background-color: #73AD3C;
    background-image: url("../assets/footer-right.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom; }
    @media (max-device-width: 559px) {
      .pictawall-slider .info {
        padding-right: 50px; } }
    @media (min-device-width: 560px) and (max-device-width: 699px) {
      .pictawall-slider .info {
        padding-right: 50px; } }
    .pictawall-slider .info .main {
      font-size: 22px;
      text-decoration: underline;
      margin-bottom: 25px; }
      @media (max-device-width: 559px) {
        .pictawall-slider .info .main {
          font-size: 16px; } }
      @media (min-device-width: 560px) and (max-device-width: 699px) {
        .pictawall-slider .info .main {
          font-size: 18px; } }
    .pictawall-slider .info .more {
      font-size: 14px; }
      @media (max-device-width: 559px) {
        .pictawall-slider .info .more {
          font-size: 10px; } }
      @media (min-device-width: 560px) and (max-device-width: 699px) {
        .pictawall-slider .info .more {
          font-size: 12px; } }
      .pictawall-slider .info .more img {
        height: 22px;
        width: 22px;
        float: left;
        margin-right: 10px; }
        @media (max-device-width: 559px) {
          .pictawall-slider .info .more img {
            height: 16px;
            width: 16px; } }
        @media (min-device-width: 560px) and (max-device-width: 699px) {
          .pictawall-slider .info .more img {
            height: 16px;
            width: 16px; } }
  .pictawall-slider .header {
    color: #5c2d91;
    padding: 12px; }
